@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@page {
    size: 21cm 29.7cm;
    margin: 0mm 0mm 0mm 0mm;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
    font-size: 11pt;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #000000;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Classes */

.flex-container {
    height: 100%;
    width: 100%;
    display: flex
}

.heading {
    font-size: 14pt;
    font-weight: 500;
}

.content {
    font-size: 11pt;
}

.employment-div {
    display: flex;
    flex-direction: column;
}

.employment-div .heading {
    font-size: 12pt;
    font-weight: 500;
}

.education-div {
    display: flex;
    flex-direction: column;
}

.education-div .heading {
    padding: 0;
    font-size: 12pt;
    font-weight: 500;
}

.education-div span {
    padding-left: 10px;
}

.experience-div {
    display: flex;
    flex-direction: column;
}

.experience-div .heading {
    font-size: 12pt;
    font-weight: 500;
}

.experience-div .subheading {
    font-style: italic;
    padding-top: 10px;
}

span.skills-obtained {
    padding-top: 10px;
}

ul.skills-obtained {
    margin: 0px;
}


/* IDs */

#sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0%;
    flex-shrink: 1;
    height: 100%;

    padding: 0px 20px;

    /*background-color: #764134 */
    /*background-color: #2B4150 */
    background-color: #2B4150;
    color: white;
}

#sidebar ul {
    padding-left: 30px;
    list-style: disc;
    margin: 5px 0;
}

#sidebar div {
    padding: 10px 0;
}

#name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#personal-info {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    text-align: left;
}

#personal-info span:nth-child(2n) {
    padding-bottom: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;

    flex-grow: 5;
    flex-basis: 0%;
    flex-shrink: 1;

    padding: 0px 10px;
}

#main-content div {
    padding: 10px 0;
}

#summary {
    display: flex;
    flex-direction: column;
}

#employment {
    display: flex;
    flex-direction: column;
}

#education {
    display: flex;
    flex-direction: column;
}

#experience {}

#group-exhibitions {
    display: flex;
    flex-direction: column;
    padding-top: 0px !important;
}

#group-exhibitions span:nth-child(1) {
    padding-left: 0px;
}

#group-exhibitions span {
    padding-left: 20px;
}

#personal-projects {
    display: none;
    /* display: flex; */
    flex-direction: column;
}

#personal-projects span:nth-child(1) {
    padding-left: 0px;
    padding-bottom: 10px;
}

#personal-projects span {
    padding-left: 20px;
}

#university-experience {
    display: flex;
    flex-direction: column;
}

#university-experience span:nth-child(1) {
    padding-left: 0px;
    padding-bottom: 10px;
}

#university-experience span {
    padding-left: 20px;
}
